ibm/assignment5.txt
[{"id":"4ab862ea.421dec","type":"tab","label":"Assignment 3 end"},{"id":"f5fae5a7.cd99a8","type":"inject","z":"4ab862ea.421dec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.5,"y":648,"wires":[["16be4723.de03f9"]]},{"id":"16be4723.de03f9","type":"function","z":"4ab862ea.421dec","name":"Custom","func":"var globalContext = global;\nvar sColor = \"#008000\";\nglobalContext.set(\"backcolor\", sColor);\nglobalContext.set(\"roomtemp\", 33);\n\nreturn msg;","outputs":1,"noerr":0,"x":318.5,"y":649,"wires":[["a9ee156d.1de968"]]},{"id":"67f0fbc9.27fac4","type":"rpi-sensehat in","z":"4ab862ea.421dec","name":"","motion":false,"env":true,"stick":false,"x":104.5,"y":279,"wires":[["54a8b5e5.d134ec"]]},{"id":"54a8b5e5.d134ec","type":"function","z":"4ab862ea.421dec","name":"format senshat","func":"var globalContext = global;\nvar sTemp = msg.payload;\n\n//node.warn(\"incoming msg =\" + JSON.stringify(msg));\n\nif ( sTemp.temperature ) {\n    globalContext.set(\"roomtemp\", sTemp.temperature);\n    globalContext.set(\"humidity\", sTemp.humidity);\n}\n\nvar nRoomTemp = globalContext.get(\"roomtemp\");\nvar nHumidity = globalContext.get(\"humidity\");\n\nif ( !(nRoomTemp && nHumidity) ) {\n    return;\n}\n\nmsg.payload =  null;\n\nvar sTime = globalContext.get(\"time\");\n\nvar oNow = Date.now() / 1000;\n\n//node.warn(\"sTime=\" + sTime);\n//node.warn(\"oNow=\" + oNow);\n\nif ( sTime ){\n    if ( oNow > sTime + 5) {\n        globalContext.set(\"time\", oNow);\n        msg.payload =  {\"d\" : {\"temperature\" : nRoomTemp,\n                               \"humidity\" : nHumidity\n        }};\n    }\n} else {\n    globalContext.set(\"time\", oNow);\n    msg.payload =  {\"d\" : {\"temperature\" : nRoomTemp,\n                           \"humidity\" : nHumidity\n    }};\n}\n\nif ( msg.payload ) {\n    // node.warn(\"returning =\" + JSON.stringify(msg.payload));\n    return msg;\n} else {\n    return;\n}","outputs":"1","noerr":0,"x":314.5,"y":281,"wires":[["9bc6310f.aee06","a9ee156d.1de968"]]},{"id":"9bc6310f.aee06","type":"wiotp out","z":"4ab862ea.421dec","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e71a3fdf.09b18","deviceType":"mysensehatpi","deviceId":"senmypigateway","event":"event","format":"json","name":"My IoT Gateway","x":617.5,"y":281,"wires":[]},{"id":"a0f3f506.3428b8","type":"exec","z":"4ab862ea.421dec","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"","timer":"","name":"exec cpu","x":269.94443130493164,"y":139.3888931274414,"wires":[["6ceda07b.c84e3"],[],[]]},{"id":"6ceda07b.c84e3","type":"function","z":"4ab862ea.421dec","name":"Format cputemp","func":"var sTemp = msg.payload;\n\n//node.warn(\"sTemp incoming=\" + sTemp);\n\nvar sSplit = sTemp.split(\"=\");\n\nvar sTemp = parseFloat(sSplit[1]);\n\nvar globalContext = global;\n\nglobalContext.set(\"cputemp\", sTemp);\n\nvar nCpuTemp = globalContext.get(\"cputemp\");\n\n//node.warn(\"nCpuTemp=\" + nCpuTemp);\n\nmsg.payload =  null;\n\nvar sTime = globalContext.get(\"timecpu\");\n\nvar oNow = Date.now() / 1000;\n\n//node.warn(\"sTime=\" + sTime);\n//node.warn(\"oNow=\" + oNow);\n\nif ( sTime ){\n    if ( oNow > sTime + 5) {\n        globalContext.set(\"timecpu\", oNow);\n        msg.payload = {\"d\" : {\"temp\" : nCpuTemp }};\n    }\n} else {\n    globalContext.set(\"timecpu\", oNow);\n    msg.payload = {\"d\" : {\"temp\" : nCpuTemp }};\n}\n\n//node.warn(\"msg.payload string =\" + JSON.stringify(msg.payload));\n\nif ( msg.payload ) {\n    // node.warn(\"returning =\" + JSON.stringify(msg.payload));\n    return msg;\n} else {\n    //node.warn(\"Nope\");\n    return;\n}\n\nmsg.payload =  {\"cputemp\" : sTemp};\n\nreturn msg;","outputs":1,"noerr":0,"x":493.9444885253906,"y":131.7777795791626,"wires":[["8efe508b.d49aa"]]},{"id":"2ae271e6.bea78e","type":"inject","z":"4ab862ea.421dec","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":111.5,"y":140,"wires":[["a0f3f506.3428b8"]]},{"id":"dd7e2ab1.c1d0c8","type":"wiotp in","z":"4ab862ea.421dec","authType":"g","deviceKey":"e71a3fdf.09b18","deviceType":"mysensehatpi","deviceId":"senmypigateway","command":"+","commandType":"d","name":"My Senshat receiver","x":128.38888549804688,"y":388.444447517395,"wires":[["1efc1540.a912ab"]]},{"id":"a9ee156d.1de968","type":"function","z":"4ab862ea.421dec","name":"ChangeDisplay","func":"function colorFill(nInRoomTemp, sCommand) {\n    var sReturn = sCommand;\n    var intTemp = parseInt(\"\" + nInRoomTemp);\n    var iSingle = intTemp % 10;\n    var iTens = intTemp / 10;\n    var iTens = parseInt(\"\" + iTens);\n    \n    node.warn(\"RoomTemp=\" + nInRoomTemp + \", iSingle =\" + iSingle + \", iTens=\" + iTens);\n    \n    \n    if ( iTens > 0 ) {\n        sReturn += \"\\n\" + \"1,1,\" + sSilver;\n    }\n    \n    if ( iTens > 1 ) {\n        sReturn += \"\\n\" + \"2,1,\" + sSilver;\n    }\n    \n    if ( iTens > 2 ) {\n        sReturn += \"\\n\" + \"1,2,\" + sSilver;\n    }\n    \n    if ( iTens > 3 ) {\n        sReturn += \"\\n\" + \"2,2,\" + sSilver;\n    }\n    \n    if ( iTens > 4 ) {\n        sReturn += \"\\n\" + \"1,3,\" + sSilver;\n    }\n    \n    if ( iTens > 5 ) {\n        sReturn += \"\\n\" + \"2,3,\" + sSilver;\n    }\n\n    if ( iTens > 6 ) {\n        sReturn += \"\\n\" + \"1,4,\" + sSilver;\n    }\n\n    if ( iTens > 7 ) {\n        sReturn += \"\\n\" + \"2,4,\" + sSilver;\n    }\n    \n    if ( iTens > 8 ) {\n        sReturn += \"\\n\" + \"1,5,\" + sSilver;\n    }\n    \n    \n    if ( iSingle > 0 ) {\n        sReturn += \"\\n\" + \"5,1,\" + sSilver;\n    }\n    \n    if ( iSingle > 1 ) {\n        sReturn += \"\\n\" + \"6,1,\" + sSilver;\n    }\n    \n    if ( iSingle > 2 ) {\n        sReturn += \"\\n\" + \"5,2,\" + sSilver;\n    }\n    \n    if ( iSingle > 3 ) {\n        sReturn += \"\\n\" + \"6,2,\" + sSilver;\n    }\n    \n    if ( iSingle > 4 ) {\n        sReturn += \"\\n\" + \"5,3,\" + sSilver;\n    }\n    \n    if ( iSingle > 5 ) {\n        sReturn += \"\\n\" + \"6,3,\" + sSilver;\n    }\n    \n    if ( iSingle > 6 ) {\n        sReturn += \"\\n\" + \"5,4,\" + sSilver;\n    }\n    \n    if ( iSingle > 7 ) {\n        sReturn += \"\\n\" + \"6,4,\" + sSilver;\n    }\n    \n    if ( iSingle > 8 ) {\n        sReturn += \"\\n\" + \"5,5,\" + sSilver;\n    }\n\n    if ( iSingle > 9 ) {\n        sReturn += \"\\n\" + \"6,5,\" + sSilver;\n    }\n    \n    return sReturn;\n}\n\nvar globalContext = global;\nvar nRoomTemp = globalContext.get(\"roomtemp\");\nvar sColor = globalContext.get(\"backcolor\");\nvar sSilver = \"#C0C0C0\"\n\nnode.warn(\"Received command:\" + JSON.stringify(msg.payload));\n\nif ( !sColor) {\n    sColor = \"#000000\";\n}\n\nnode.warn(\"incoming command =\" + JSON.stringify(msg.payload));\n\nvar sCommand = \"*,*,\" + sColor;\n//var sCommand = \"R180,\\n0-7,0-7,\" + sColor;\n\nsCommand = \"\\n\" + colorFill(nRoomTemp, sCommand);\n\n//sCommand=\"1,1,\" + sSilver + \",7,1,\" + sSilver;\n//sCommand=\"7,0,\" + sSilver;\n\nmsg.payload = sCommand;\n\nnode.warn(\"Changing senshat to:\" + msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":618.7221832275391,"y":374.99999713897705,"wires":[["dcaf4282.7386a"]]},{"id":"dcaf4282.7386a","type":"rpi-sensehat out","z":"4ab862ea.421dec","name":"","x":750.1666107177734,"y":530.5555620193481,"wires":[]},{"id":"8a179a65.350d18","type":"inject","z":"4ab862ea.421dec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.5,"y":512,"wires":[["c1490ed4.0abed"]]},{"id":"c1490ed4.0abed","type":"function","z":"4ab862ea.421dec","name":"Black","func":"var sColor = \"#000000\";\n\nmsg.payload = \"0-7,0-7,\" + sColor;\n\nreturn msg;","outputs":1,"noerr":0,"x":331.5,"y":513,"wires":[["dcaf4282.7386a"]]},{"id":"b6df565.ab696a8","type":"inject","z":"4ab862ea.421dec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":112.5,"y":581,"wires":[["f93e1727.a83078"]]},{"id":"f93e1727.a83078","type":"function","z":"4ab862ea.421dec","name":"Red","func":"var sColor = \"#800000\";\n\nmsg.payload = \"0-7,0-7,\" + sColor;\n\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":586,"wires":[["dcaf4282.7386a"]]},{"id":"8efe508b.d49aa","type":"wiotp out","z":"4ab862ea.421dec","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e71a3fdf.09b18","deviceType":"myraspberrypigateway","deviceId":"mypigateway","event":"event","format":"json","name":"","x":701.6666526794434,"y":131.1111240386963,"wires":[]},{"id":"1efc1540.a912ab","type":"function","z":"4ab862ea.421dec","name":"SetBackground","func":"var globalContext = global;\n\nvar screenCommand, sColor;\n\nif ( msg.payload && msg.payload.display && \n    msg.payload.display.screen ) {\n    screenCommand = msg.payload.display.screen;\n}\n\n\nif ( screenCommand === \"on\" ) {\n    sColor = \"#800000\";\n} else if ( screenCommand === \"off\" ) {\n    sColor = \"#008000\";\n} else {\n    sColor = \"#000000\";\n}\n\nglobalContext.set(\"backcolor\", sColor);\n\nnode.warn(\"Set background color=\" + sColor);\n\nreturn msg;","outputs":1,"noerr":0,"x":361.66663360595703,"y":388.8889102935791,"wires":[["a9ee156d.1de968"]]},{"id":"e71a3fdf.09b18","type":"wiotp-credentials","z":"","name":"My IoT Gateway","org":"0qurdm","devType":"myraspberrypigateway","devId":"mypigateway"}]
