ibm/assignment3.txt
[{"id":"fa21ae71.81d5","type":"tab","label":"Temperature"},{"id":"396928af.68f918","type":"inject","z":"fa21ae71.81d5","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":91.5,"y":358,"wires":[["90857ed5.ccbdc"]]},{"id":"90857ed5.ccbdc","type":"exec","z":"fa21ae71.81d5","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":291.5,"y":358.5,"wires":[["d4903ada.2cc048"],[],[]]},{"id":"d4903ada.2cc048","type":"function","z":"fa21ae71.81d5","name":"Reformat Temperature","func":"var sTemp = msg.payload;\n\nvar sSplit = sTemp.split(\"=\");\n\nvar sTemp = parseFloat(sSplit[1]);\n\nmsg.payload =  {\"d\" : {\"temp\" : sTemp}};\n\nreturn msg;","outputs":1,"noerr":0,"x":536.5,"y":360,"wires":[["bebb5cd5.fc974","efadf80.e925508"]]},{"id":"bebb5cd5.fc974","type":"debug","z":"fa21ae71.81d5","name":"","active":true,"console":"false","complete":"payload","x":748.5,"y":390,"wires":[]},{"id":"efadf80.e925508","type":"wiotp out","z":"fa21ae71.81d5","authType":"d","qs":"true","qsDeviceId":"efadf80.e925508","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":727.5,"y":343,"wires":[]}]
