ibm/week2.txt
[{"id":"a99934e6.587e58","type":"tab","label":"Flow 3"},{"id":"7f2987ed.da9c28","type":"inject","z":"a99934e6.587e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":237.5,"y":187,"wires":[["62a3a2ee.6807fc"]]},{"id":"62a3a2ee.6807fc","type":"random","z":"a99934e6.587e58","name":"","low":"1","high":"10","inte":"true","x":442.5,"y":190,"wires":[["1030fc7f.0f6694"]]},{"id":"c8b8d3ab.3be3e","type":"debug","z":"a99934e6.587e58","name":"","active":true,"console":"false","complete":"true","x":832.5,"y":193,"wires":[]},{"id":"1030fc7f.0f6694","type":"function","z":"a99934e6.587e58","name":"Greater than 4","func":"var returnMSG = {};\nvar sMessage = \"\";\n\nsMessage = \"Number \" + msg.payload + \" is a \";\n\nif ( msg.payload >= 5) {\n    sMessage += \"high \";\n} else {\n    sMessage += \"low \";\n}\n\nsMessage += \"number\";\n\nreturnMSG.payload = sMessage;\n\nreturn returnMSG;","outputs":1,"noerr":0,"x":647.5,"y":193,"wires":[["c8b8d3ab.3be3e"]]}]
