ibm/week2_large.txt
[{"id":"d86aaf56.a6eba","type":"tab","label":"/page"},{"id":"4130f49.786b00c","type":"template","z":"d86aaf56.a6eba","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message}}","x":591,"y":390,"wires":[["516fa053.3e6b7","a3a17681.cfb648"]]},{"id":"8a89818c.5f2e7","type":"function","z":"d86aaf56.a6eba","name":"Make Time","func":"function format_two_digits(n) {\n    return n < 10 ? '0' + n : n;\n}\n\nvar oDate = new Date();\n\nvar sHours = format_two_digits(oDate.getHours());\nvar sMinutes = format_two_digits(oDate.getMinutes());\nvar sTime = sHours + \":\" + sMinutes;\n\nmsg.payload = {\"time\":sTime};\n\n//var globalContext = this.context().global;\nvar globalContext = global;\nglobalContext.set(\"time\", sTime);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":123,"wires":[["db22ea4c.446128","2b23417d.57691e"]]},{"id":"15aa62cb.97c6dd","type":"http in","z":"d86aaf56.a6eba","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":80,"y":123,"wires":[["8a89818c.5f2e7"]]},{"id":"109e41df.b77cce","type":"http response","z":"d86aaf56.a6eba","name":"","x":854,"y":122,"wires":[]},{"id":"1737ff5.35e0501","type":"http in","z":"d86aaf56.a6eba","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":85,"y":247,"wires":[["c1375799.c63928"]]},{"id":"2b23417d.57691e","type":"function","z":"d86aaf56.a6eba","name":"setHTTPheader","func":"//If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"};\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":122,"wires":[["109e41df.b77cce","fe39db98.226be8"]]},{"id":"fe39db98.226be8","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"true","complete":"true","x":842.5,"y":169,"wires":[]},{"id":"c1375799.c63928","type":"random","z":"d86aaf56.a6eba","name":"","low":"1","high":"10","inte":"true","x":257,"y":248,"wires":[["4f8e783f.83f358","f275c2d2.978dc"]]},{"id":"db22ea4c.446128","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"true","complete":"true","x":459.5,"y":177,"wires":[]},{"id":"1b72c581.4f145a","type":"function","z":"d86aaf56.a6eba","name":"setHTTPheader","func":"//If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"};\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":250,"wires":[["a9f28cc6.005e1","6eb2caea.826394"]]},{"id":"4f8e783f.83f358","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"false","complete":"true","x":443.5,"y":320,"wires":[]},{"id":"a9f28cc6.005e1","type":"http response","z":"d86aaf56.a6eba","name":"","x":826.5,"y":245,"wires":[]},{"id":"6eb2caea.826394","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"false","complete":"true","x":805.5,"y":308,"wires":[]},{"id":"f275c2d2.978dc","type":"function","z":"d86aaf56.a6eba","name":"Reformat Payload","func":"var oDate = new Date();\n\nvar sHours = oDate.getHours();\nvar sMinutes = oDate.getMinutes();\nvar sTime = sHours + \":\" + sMinutes;\n\n//var globalContext = this.context().global;\nvar globalContext = global;\n\nglobalContext.set(\"randomtime\", sTime);\nglobalContext.set(\"random\", msg.payload);\n\nmsg.payload = {\"random\": msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":250,"wires":[["1b72c581.4f145a"]]},{"id":"21567f65.84f0f","type":"http in","z":"d86aaf56.a6eba","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":76,"y":389,"wires":[["99d9b51a.5f84f8"]]},{"id":"99d9b51a.5f84f8","type":"function","z":"d86aaf56.a6eba","name":"get TimeRandomNRandomTime","func":"//var globalContext = this.context().global;\nvar globalContext = global;\n\nvar nRandom = globalContext.get(\"random\");\nvar sRandomTime = globalContext.get(\"randomtime\");\nvar sTime = globalContext.get(\"time\");\n\nnode.warn(\"nRandom=\" + nRandom);\nnode.warn(\"sRandomTime=\" + sRandomTime);\nnode.warn(\"sTime=\" + sTime);\n\nmsg.payload={};\n\nif ( nRandom ) {\n    msg.payload.random = nRandom;\n}\n\nif ( sRandomTime ) {\n    msg.payload.randomtime = sRandomTime;\n    msg.payload.message = \"Last random number request returned \" + nRandom + \", which was received at \" + sRandomTime + \"\\n\\n\";\n} else {\n    msg.payload.message = \"No requests for random numbers have been received\\n\\n\";\n}\n\nif ( sTime ) {\n    msg.payload.time = sTime;\n    msg.payload.message += \"Time last server time request received at \" + sTime;\n} else {\n    msg.payload.message += \"No server time requests have been received\\n\";\n}\n\n\nnode.warn(\"JSON.stringify=\" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":310.5,"y":392,"wires":[["4130f49.786b00c","c6f56871.bbc598"]]},{"id":"516fa053.3e6b7","type":"function","z":"d86aaf56.a6eba","name":"setHTTPheader","func":"//If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"};\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"};\n\n\nmsg.headers={\"Content-Type\":\"text/plain; charset=us-ascii\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":511,"wires":[["61b6aa3a.ecf854","ed64efb6.2a927"]]},{"id":"61b6aa3a.ecf854","type":"http response","z":"d86aaf56.a6eba","name":"","x":759,"y":500,"wires":[]},{"id":"ed64efb6.2a927","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"false","complete":"true","x":737.5,"y":552,"wires":[]},{"id":"c6f56871.bbc598","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"false","complete":"true","x":313.5,"y":455,"wires":[]},{"id":"a3a17681.cfb648","type":"debug","z":"d86aaf56.a6eba","name":"","active":true,"console":"false","complete":"true","x":490.2708282470703,"y":598.1180725097656,"wires":[]}]


